.shop-container{
    width: 100%;
    display: flex;
}
.book-container{
    width: 80%;
}
.select-container{
 width:20%;
}

@media (max-width:550px) {
    .shop-container{
    flex-direction: column;
    }
    .book-container{
        width:100%
    }
    .select-container{
        width: 100%;
    }
}