.shop-container{
    width: 100%;
    display: flex;
}
.book-container{
    width: 100%;
}
.select-container{
 width:20%;
}
.buttons{
    display:flex;
    flex-direction:column;

}
.selected-btn{
    background-color:white;
    border: 2px solid black;
}
@media (max-width:550px) {
    .shop-container{
    flex-direction: column;
    }
    .book-container{
        width:100%
    }
    .select-container{
        width: 100%;
    }
}